<script src="../vendor/jquery/jquery.min.js"></script> 
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--<script type="text/javascript" src="../../hellonode.js"></script>-->


	<div class="megaBody">
		<!-- Navigation -->
		<nav class="header">
			<div class="container">
				<!--<a class="header-text" href="#">Chara-verse</a> <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>-->
				<!--<p id='logo'></p>-->
				<img class="logo" src="assets/images/logo.png" alt="Chara-Verse">
			</div>
		</nav><!-- Page Content -->
		<div class="container">

			<div>
				<p class="text_recherche" id="text_recherche">Veuillez entrer un élément à rechercher</p>
				<div class="list-group"></div> 
			</div>

			<div class="row">
				
				<div class="zone_recherche">
					<select class='form-control' id='filterText' onblur="this.size = 1" onchange='this.size = 0' onmousedown='if (this.options.length) 4;{this.size = 4}' size='1'>
						<option selected>
							Choisissez un univers
						</option>
						<option>
							Pokemon
						</option>
						<option>
							Star Wars
						</option>
						<option>
							Marvel
						</option>
					</select> <input aria-label="Search through site content" id="site-search" name="q" type="rechercher" class="search" onkeypress = "if (event.keyCode == 13)
					document.getElementById('button').click()" autofocus="autofocus">  <button id='button' (click)="getDonnees()" class ="sear-butt">Search</button>
				

				
				
				</div><!-- /.col-lg-3 -->

				<!-- /.col-lg-9 -->
			</div>

			<div class ="cards">
				<div class="card mt-4" id="composant" style="display: none;"><app-pokemon></app-pokemon></div>
				<div class="card mt-4" id="composant2" style="display: none;"><app-star-wars></app-star-wars></div>
				<div class="card mt-4" id="composant3" style="display: none;"><app-marvel></app-marvel></div>
			</div>
		</div><!-- /.container -->
	</div><!-- Footer -->
	<footer class="pied">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Chara-verse 2021</p><!--</div>-->
			<!-- /.container -->
		</div>
	</footer><!-- Bootstrap core JavaScript -->