<div class="megaBody">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Chara-verse - Le seul et unique site rassemblant différents univers de science-fiction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="text_recherche">
        <p >Veuillez entrer un élément à rechercher</p>
        <div class="list-group">
        </div>
      </div>

      <div class="zone_recherche">
        <select size='1' onmousedown='if (this.options.length > 8){this.size = 8}' onchange='this.size = 0' onblur="this.size = 1" class='form-control' id='filterText'>

          <option selected>Choisissez un univers</option>
          <option>Pokemon</option>
          <option>Star Wars</option>
          <option>Marvel</option>
          <option>Seigneur des Anneaux</option>
        </select>
        <input type="Rechercher" id="site-search" name="q" aria-label="Search through site content"> 
        <button id='button' onclick="getDonnees()">Search</button>
      </div>
      <!-- /.col-lg-3 -->

      

        <div class="col-lg-9">

          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title" id='Nom-Entite'>Personne</h3>
              <h4>Nom :</h4>
              <p class="card-text">je suis une personne</p>
            </div>
          </div>
        </div>
      </script>

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
  <p class="m-0 text-center text-white">Copyright &copy; Chara-verse 2021</p>
</div>
<!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>