
<!-- Zone apparaissant correspondant à l'univers Pokemon -->
<div class="zone-pokemon">
    
    <!-- Logo de l'univers et nom du personnage -->
    <div class="pokemon-first">
        <img id="logo-pokemon" src="../assets/images/pokemon.png" alt="Pokemon">
        <h3 id="pokemon-nom"></h3>
    </div>

    <!-- Information sur le Pokemon -->
    <div class="pokemon-gauche">
        <h3 id="pokemon-id">ID : </h3>
        <h3 id="pokemon-type">Type : </h3>
        <h3 id="pokemon-evol">Height : </h3>
        <h3 id="pokemon-generation">Weight : </h3>
    </div>
    
    <!-- Image du Pokemon -->
    <div class="pokemon-droite">
        <h1 id="pokemon-image"></h1>
    </div>
</div>

