
<div class="zone-pokemon">
    
    <div class="pokemon-first">
        <img id="logo-pokemon" src="../assets/images/pokemon.png" alt="Pokemon">
        <h3 id="pokemon-nom"></h3>
    </div>

    <div class="pokemon-gauche">
        <h3 id="pokemon-id">ID : </h3>
        <h3 id="pokemon-type">Type : </h3>
        <h3 id="pokemon-evol">Taille : </h3>
        <h3 id="pokemon-generation">Poids : </h3>
    </div>
    
    <div class="pokemon-droite">
        <h1 id="pokemon-image"></h1>
    </div>
</div>