#logo-pokemon{
    width: 15%;
    height: 30%;
    float: left;
    margin-left: 4%;
}

#pokemon-nom{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 50px;
    color: #212529;
    font-family: 'comicfont';
}

.pokemon-first{
    overflow: auto;
}

.pokemon-gauche{
    text-align:left;
    display: inline-block;
    margin-top: 4%;
    margin-left: 4%;
    color: #212529;

}
.pokemon-droite{
    display: inline-block;

    float: right;
    margin-right: 30%;
    margin-top: -5%;
}


#pokemon-image{
    width: 150%;
    height: 150%;
    
}
