
<!-- Zone apparaissant correspondant à l'univers Marvel -->
<div class="zone-marvel">

    <!-- Logo de l'univers et nom du personnage -->
    <div class="marvel-first">
        <img id="logo-marvel" src="../assets/images/marvel.png" alt="Marvel">
        <h3 id="marvel-nom"></h3>
    </div>

    <!-- Description du personnage -->
    <div class="marvel-top">
        <p id="marvel-description"></p>
    </div>

    <!-- Liste des series et des histoires ou le personnage apparait -->
    <div class="marvel-gauche">
        <h3 id="marvel-series">Series Comics:</h3>
        <h3 id="marvel-stories">Story Comics:</h3>
    </div>

    <!-- Image du personnage -->
    <div class="marvel-droite">
        <p id="marvel-image"></p>
    </div>
</div>
