<div class="zone-sw">

    <div class="sw-first">
        <img id="logo-sw" src="../assets/images/starwars.png" alt="Star Wars">
        <h3 id="sw-nom"></h3>
    </div>

    <div class="sw-gauche">
        <h3 id="sw-sexe">Sexe :</h3>
        <h3 id="sw-espece">Espece :</h3>
    </div>

    <div class ="sw-bas">
        <h3 id="sw-film">Première apparition :</h3>
    </div>

    <div class ="sw-droite">
        <h3 id="sw-planete">Planete :</h3>
        <h3 id="sw-vaisseau">Vaisseau Spatial :</h3>
    </div>

    

</div>