
<!-- Zone apparaissant correspondant à l'univers Star Wars -->
<div class="zone-sw">

    <!-- Logo de l'univers et nom du personnage -->
    <div class="sw-first">
        <img id="logo-sw" src="../assets/images/starwars.png" alt="Star Wars">
        <h3 id="sw-nom"></h3>
    </div>

    <!-- Information sur le personnage -->
    <div class="sw-gauche">
        <h3 id="sw-sexe">Gender :</h3>
        <h3 id="sw-espece">Species :</h3>
    </div>

    <div class ="sw-bas">
        <h3 id="sw-film">First appearance :</h3>
    </div>

    <div class ="sw-droite">
        <h3 id="sw-planete">Homeworld :</h3>
        <h3 id="sw-vaisseau">Starship :</h3>
    </div>

    

</div>